{% extends "base.html.twig" %}

{% block body %}
    {% set i = 1 %}
    <a id="retire" onclick="retireFolder({{i}})" class="btn btn-info text-light" >Retirar</a>

{% endblock %}

{% block javascript %}
{{ parent()}}
  <script type="text/javascript" src=" {{ asset('js/ajaxTest.js') }}"></script>
{% endblock %} 