{% extends "base.html.twig" %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo area</th>
      <th scope="col">Nombrea area</th>
    </tr>
  </thead>
  <tbody>
    {% for area in areas %}
    <tr>
        <th scope="row">{{area.id}}</th>
        <td>{{area.nomArea}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}