{# Modal retirar carpeta #}
<div class="modal fade" id="modalRetirarCarpeta" tabindex="-1" role="dialog" aria-labelledby="modalRetirarCarpetaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRetirarCarpetaLabel">Retirar carpeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Legajo<span class="ml-1 text-danger">*</span></label>
                        <input class="form-control" type="text" name="Histarch[legajo]" value="" required>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha retiro<span class="ml-1 text-danger">*</span></label>
                        <input class="form-control" type="date" name="Histarch[fechaRetiro]" value="" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-info" style="margin-top:30px;" type="submit"> 
                    <i class="far fa-check-circle"></i>Guardar movimiento
                </button> 
                <a class="btn btn-secondary text-white" onclick="closeModal(modalRetirarCarpeta)"  style="margin-top:30px;"> 
                    <i class="fas fa-undo-alt"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
  </div>
</div>