{% extends "base.html.twig" %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-file"></i>&nbsp;&nbsp;<b>Ingreso de datos</b>
    </div>
    <div class="card-body" style="padding-bottom:0px;padding-top:16px;">
    </div>
</div>
{% endblock %}